{% extends 'includes/base.html'%}
{% block title%} Accueil {% endblock %}
{% block content %}
    <h1 class="h1">Bienvenue ! ようこそ ！ مرحبا !</h1>
    <p class="h2">Cours de différentes monnaies</p>
{% endblock %}